*.aab
*.apk
*.app
*.avi
*.booproj
*.class
*.csproj
*.exe
*.flv
*.jar
*.log
*.mdb
*.mdb.meta
*.meta
*.mov
*.mp4
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.ply
*.png
*.py[cod]
*.sln
*.suo
*.svd
*.tiff
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
*.VC.db
*.war
*.wmv
.consulo/
.DS_Store
.gradle/
.idea/
.vs/
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Rr]ecordings/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
crashlytics-build.properties
dist/
ExportedObj/
node_modules/
sysinfo.txt
target/
TEST*.xml
Thumbs.db